<!DOCTYPE html>
<html>
  <head>
    <title>GakusekiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash" class="text-white text-center" style="height:60px;">
      <% if notice %>
        <p class="bg-primary">
          <%= notice %>
        </p>
      <% end %>
      <% if alert %>
        <p class="bg-danger">
          <%= alert %>
        </p>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
